name: pytest

on:
  push:
    branches: [main] # branch to trigger deployment
  pull_request:
    branches: [main] # trigger on pull requests to main

# workflow_dispatch:        # Un comment line if you also want to trigger action manually
defaults:
  run:
    shell: bash -l {0}
jobs:
  conda_deployment_with_new_tag:
    name: Conda deployment of package for platform ${{ matrix.os }} with Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: ["3.10"]

    steps:
      - name: Setup TeX Live (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive-latex-extra texlive-latex-recommended texlive-fonts-recommended cm-super dvipng
      - name: Setup TeX Live (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install --cask mactex-no-gui
          echo "/Library/TeX/texbin" >> $GITHUB_PATH
      - name: Setup TeX Live (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          choco install miktex -y
          echo "C:\Program Files\MiKTeX\miktex\bin\x64" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: mamba-org/setup-micromamba@617811f69075e3fd3ae68ca64220ad065877f246
        with:
          environment-name: myenv
          channels: conda-forge,phygbu
          create-args: >-
            python=3.10
            pytest
            numpy
            pytest-md
            pytest-emoji
            pytest-cov
            matplotlib
            bad_path
      - name: Install package
        run: pip install -e .
      - name: Run pytest
        uses: pavelzw/pytest-action@510c5e90c360a185039bea56ce8b3e7e51a16507
        with:
          verbose: true
          emoji: true
          job-summary: true
          custom-arguments: '-q --cov=src/stonerplots --cov-report=term --cov-report=html --cov-report=xml'
          click-to-expand: true
          report-title: 'Test Report'
      - name: Upload coverage to Codacy
        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1.3.0
        with:
          project-token: ${{ secrets.CODACY_TOKEN }}
          coverage-reports: coverage.xml
